.card-details {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  border: 1px solid rgba(160, 160, 160, 0.2);
  margin-bottom: 20px;
}
.card-details .card-details-image {
  position: relative;
  float: left;
  width: 30%;
  overflow: hidden;
  display: inline;
}
.card-details .card-details-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  max-width: 121px;
  max-height: 121px;
}
.card-details .card-details-content {
  padding: 5px 10px 5px 10px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
  display: inline-block;
  width: 70%;
}
.card-details .card-details-content p {
  margin: 0;
  color: inherit;
}
.card-details .card-details-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 5px;
  clear: both;
}
.card-day-container
{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.card-day-container .card-day
{
    text-align: left;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
    background-clip: padding-box;
    border: 1px solid rgba(180,180,180,0.5);
    transition: background-color 0.2s ease-in-out;
    min-width: 120px;
    margin: 5px;
    width:20%;
    padding: 10px;
}
.card-day-container .card-day-selected
{   
    color: #fff; 
    text-align: left;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
    background-clip: padding-box;
    border: 1px solid rgba(180,180,180,0.5);
    background-color: #5cb85c;
    transition: background-color 0.2s ease-in-out;
    min-width: 120px;
    margin: 5px;
    width:20%;
    padding: 10px;
}
.card-day-container .card-day-selected li
{
    color: #333;
    width:90%;
}
.card-day-container .card-day-selected button
{
    width: 90%
}
.card-day-container .card-day button
{
    width: 90%
}
.card-day-container .card-day-selected input[type=text]
{
    width: 90%;
    margin-bottom: 5px;
}
.card-day-container .card-day input[type=text]
{
    width: 90%;
    margin-bottom: 5px;
}
.card-day-list-group
{
	padding-left: 0px;
	min-width: 235px;
}
.card-day-list-group .card-day-list-item:first-child
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.card-day-list-group .card-day-list-item:last-child
{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 0;
}
.card-day-list-group .card-day-list-item
{
	text-align: left;
	border: 1px solid rgba(180, 180, 180, 0.5);
	transition: background-color 0.2s ease-in-out;
	min-width: 120px;
	margin: 0px;
	margin-bottom: -1px;
	width: 100%;
	padding: 0px;
	display: table;
}
.card-day-list-group .card-day-list-item .card-day-list-content
{
	min-width: calc(100% - 75px);
	width: 70%;
	padding: 10px;
	border-right: 1px solid rgba(180,180,180,0.5);
	display: table-cell;
}
.card-day-list-group .card-day-list-item .card-day-list-button
{
	min-width: 75px;
	width: 30%;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
	border: none;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	transition: background-color 0.2s ease-in-out;
}